<div class="head">
    <h1>{{project.title}}</h1>
    <h3>{{project.elevatorPitch}}</h3>
    <p>Created By: <a href="/user?name={{project.owner}}">{{project.owner}}</a></p>
</div>

<div class="body">
    <h3>Description:</h3>
    <p>{{project.description}}</p>
    <h3>Skills Needed:</h3>
    <p>{{project.skillsNeeded}}</p>

    <div class="list" *ngIf="project.owner === currentUser.name">
        <h3>Interested People</h3>
        <li *ngFor="let item of project.interested">
            <a href="/user?name={{item}}">{{item}}</a>
        </li>
    </div>

</div>

<div class="footer">
    <button *ngIf="project.owner !== currentUser.name" (click)="addInterested()">Request to Join Project</button>
    <button *ngIf="project.owner === currentUser.name">Edit Project</button>
</div>
